.menu{
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
.eachlink::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #094C41;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.eachlink:hover::before,
.eachlink.active::before{
    transform: scale(1);
    width: 100%;
    transform-origin: center;
}
@media screen and (max-width: 768px) {
    .menu{
        display: flex;
    }
}
.sidebar{
    height: 100vh;
    width: 100%;
}
.menu{
    z-index: 10000;
}